html {
    width: 100%;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    font-size: 14pt;
    color: maroon;
    background: linear-gradient(limegreen, orange, violet);
    width:100%;
    /*background: linear-gradient(red, orange, yellow, green, blue, indigo, purple);*/
}

header {
    background-color: #234178;
    width: 100%;
    vertical-align: center;
}

#header-row {
    padding-top:10px;
    margin-bottom:25px;
    width: 100%;
    text-align: center;
    background-color: #234178;
}

header a {
    font-family: 'Courier New', Courier, monospace;
    font-size: 2em;
    color: white;
    background-color: #234178;
    padding:10px 5px 10px  5px;
	font-weight:bold;
	margin: 0px 10px;
}

li {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 16pt;
    color: navy;
}

h2 {
    font-family: 'Comic Sans MS', serif;
    color: yellow;
}


hr{
    height:8px;
    background-color:purple;
    width:75%;
}

.lgt {
    color:red; 
    font-family: 'Papyrus', serif;
    font-size: big;
    font-weight: bold

}

.earth {
    color:blue;
    font-family: 'Bodoni', serif;
    font-style: italic;
}

